
.icon-label {
  font-size: 18px;
  padding: 5px;
  display: inline-block;
}

.icon-button {
  display: inline-block;
  width: 1.6em;
  height: 1.6em;
  line-height: 1.6em;
  vertical-align: middle;
  margin: 0.2em;
  text-align: center;
  cursor: pointer;

  &.checkbox {
    border: 1px;
    border-radius: 50%;
    &.check-active {
      background-color: #0FB;
    }
    &.check-deactive {
      background-color: gray;
    }
  }

  &.move-bar {
    cursor: move;
  }
}

.editor-item {
  .editor-item-content {
    & > * {
      float: left;
      width: 48%;
      margin: 0 2%  0 0;
    }
    & input {
      background-color: rgba(100%, 100%, 100%, 0.5);
    }
    &:hover {
      background: #BFB;
    }
  }

}
