
.icon-label {
  font-size: 18px;
  padding: 5px;
  display: inline-block;
}

.icon-button {
  display: inline-block;
  width: 1.6em;
  height: 1.6em;
  line-height: 1.6em;
  vertical-align: middle;
  margin: 0.2em;
  text-align: center;
  cursor: pointer;

  &.checkbox {
    border: 1px;
    border-radius: 50%;
    &.check-active {
      background-color: #0FB;
    }
    &.check-deactive {
      background-color: gray;
    }
  }
}

.editor-item {
  margin: 15px 0px;
  display: inline-block;
  width: 100%;

  .inputs {
    display: inline-block;
    width: 80%;

    &:hover  {
      background-color: rgba(60%, 100%, 80%, 0.3);
      & > input {
        background-color: rgba(60%, 100%, 80%, 0.1);
      }
    }

    input.form-control {
      width: 48%;
      display: inline;
      margin-right: 2%;
    }
  }

  .move-bar {
    cursor: move;

    &.invisibility {
      visibility: hidden;
    }
  }
}
